@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Book Inventory Management system</h1>
    <p>See the list of books we have in our inventory </p>
    <a asp-action="List" asp-controller="Inventory">Click here</a>
</div>
